* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  background-color: #232b30;
  color: rgb(235, 235, 235);
  margin: 50px 20% 0px;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.solid {
  width: 100%;
  border-top: 1px solid #bbb;
}

#detailSection {
  width: 90%;
  margin: auto;
}

p {
  margin-top: 5px;
}

.paragraphTitle {
  font-weight: bold;
  text-decoration: underline;
}

footer #footer_links {
  display: flex;
  justify-content: space-around;
}

footer #footer_links a {
  color: rgb(235, 235, 235);
}
