body {
  background: url(resources/backgroundOption6.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
  overflow: hidden;
  /* background-color: #363639; */
}
#name{
  font-family: "Lato";
  font-size: 3vw;
  margin: auto;
  text-align: center;
}

/* Nav bar */

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* color: red; */
}
.flexbox-container > a {
  padding: 1vw;
  font-size: 250%;
  font-family: "Lato";
  text-decoration: none;
  color: black;
  font-weight: 600;

}

a:hover {
  color: grey;
}

/* End nav bar */

#containerProject1{
  /* border-style: solid; */
  margin: auto;
  height:100%;
  width: 40%;
  font-family: "Poppins";
  /* background: rgba(220, 220, 220, .1); */
  /* opacity: 50%; */
}
#containerProject1 > a {
  text-decoration: none;
  color: black;
  font-family: "Lato";
  font-weight: 600;
}
#containerProject1 > a > h2 {
  position: relative;
  left:5%;
  top:5%;
  /* border: solid 2px black; */
  width:13%;
}
#spaceGameDescription{
  position: relative;
  width: 50%;
  left: 5%;
  top: 5%;
}
#spaceGameImg{
  position: relative;
  left:60%;
  top:-11%;
  width:30%;
  height:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  /* border: solid 2px black; */
}
