body {
  background: url(resources/backgroundOption6.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
  overflow: hidden;
  /* background-color: #363639; */
}

#name{
  font-family: "Lato";
  font-size: 3vw;
  margin: auto;
  text-align: center;
}

/* Nav bar */

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* color: red; */
}
.flexbox-container > a {
  padding: 1vw;
  font-size: 250%;
  font-family: "Lato";
  text-decoration: none;
  color: black;
  font-weight: 600;

}

a:hover {
  color: grey;
}

/* End nav bar */

#container{
  /* position: absolute;
  width: 50%;
  height: 60%;
  top: 40%; */
  /* border-style: solid; */
  margin: auto;
  /* border: solid 2px black; */
  height:100%;
  width: 40%;
  font-family: "Poppins";
  /* background: rgba(220, 220, 220, .1); */
  /* opacity: 50%; */
}
#projects{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#projects > a{
  /* margin: auto; */
  font-family: "Poppins";
  text-decoration: none;
  color: black;
  padding:.75vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  background-color: rgba(220, 220, 220, .5);
  /* justify-content: space-evenly; */
}
#projects > a:hover{
  background-color: rgba(220, 220, 220, .9);
}
