* {
  margin: 0;
  padding: 0;
}

html {
  /* max-width: 100%; */
  /* overflow-x: hidden; */
}

body {
  background: url(resources/backgroundOption2.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: #363639; */
}

#header {
  /* font-size: 4vw; */
  font-size: 600%;
  white-space: nowrap;
  font-family: "Lato";
  text-align: center;
  /* color: #1F4F74; */
  color: #0E3A5C;
  font-weight: 100;
  position: absolute;
  top: 30%;

  margin-left: auto;
  margin-right: auto;
  left: 12%;

}

hr {
  width: 33%;
  margin: auto;
  color: #0E3A5C;
  position: absolute;
  top: 43%;
  left: 10%;
}


#tagLine{
  font-size: 200%;
  color: #0E3A5C;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Lato";
  position: absolute;
  top: 47%;
  left: 1%;
}

/* Nav bar */

.flexbox-container {
  display: flex;
  flex-direction: row;
  /* color: red; */
}
a {
  padding: 1vw;
  font-size: 250%;
  font-family: "Lato";
  text-decoration: none;
  color: #346388;
  font-weight: 600;

}

a:hover {
  color: #84ded9;
}


/* End nav bar */
