body {
  font-family: "Open Sans", sans-serif;
}

.fullPage {
  height: 100vh;
}

#page1 {
  background: linear-gradient(170deg, #425971 50%, #fff 50%);
  display: flex;
  justify-content: center;
  gap: 280px;
}

#frontPageText {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  color: white;
  margin-top: 30vh;
}

form {
  max-width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  color: rgb(199, 199, 199);
}

#formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  background-color: #344c66;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
}

#submit {
  border: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#submit:hover {
  cursor: pointer;
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

footer {
  position: relative;
}

footer #footer_links {
  position: absolute;
  bottom: 18px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer #footer_links a {
  text-decoration: none;
  /* color: white; */
}
