:root {
  --bg-color-one: #202c39;
  --bg-color-two: #283845;
  --banner-bg: black;
  --text-color: #b8b08d;
  --text-color-off: #f8f8ff;
  --hex-color: #283845;
  --section-color: #1e272e;
  --section-hover-color: #4b413a;
}

#container {
  width: 100%;
  max-width: 1366px;
  min-width: 900px;
  height: 100%;
  max-height: 768px;
  margin: auto;
  border: 1px solid red;
  background-color: var(--bg-color-one);
  color: var(--text-color);
  animation: backgroundColorLoop 3s infinite;
}

@keyframes backgroundColorLoop {
  0% {
    background-color: var(--bg-color-one);
  }
  50% {
    background-color: var(--bg-color-one);
  }
  100% {
    background-color: var(--bg-color-one);
  }
}

@keyframes float {
  0% {
    text-shadow: 15px 5px 10px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    text-shadow: 15px 10px 10px rgba(0, 0, 0, 0.4);
    transform: translatey(-5px);
  }
  100% {
    text-shadow: 15px 5px 10px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.headerText {
  margin-left: 133px;
  animation: float 4s ease-in-out infinite;
}

#banner {
  width: 1100px;
  height: 250px;
  background-color: var(--banner-bg);
  margin: 0 auto;
  overflow: hidden;
}

svg {
  fill: var(--hex-color);
}

svg:hover {
  animation: colorShift 2s infinite;
}

@keyframes colorShift {
  0% {
    fill: var(--hex-color);
    transform: scale(1);
    opacity: 1;
  }
  25% {
    fill: red;
    transform: scale(1.2);
  }
  50% {
    fill: rgb(0, 0, 151);
    transform: scale(1.4);
    opacity: 0.8;
  }
  75% {
    fill: green;
    transform: scale(1.2);
  }
  100% {
    fill: var(--hex-color);
    transform: scale(1);
    opacity: 1;
  }
}

#firstRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -15px;
}

#secondRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -15px;
  margin-left: -29px;
}

#thirdRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -15px;
}

#fourthRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -14px;
  margin-left: -29px;
}

#fifthRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -15px;
}

#sixthRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -15px;
  margin-left: -29px;
}

ul,
li {
  list-style-type: none;
  padding: 0px;
}

li > a {
  /* text-decoration: none; */
  color: var(--text-color);
}

main {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

/* .sectionContent {
  opacity: 0;
}

.sectionTitle {
  position: absolute;
}

#studioSection:hover .sectionContent {
  display: block;
  animation: fadeIn 1s forwards;
}

#studioSection:hover .sectionTitle {
  display: none;
  opacity: 0;
} */

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 20% 0 20%;
}

footer a {
  color: var(--text-color);
}

section {
  position: relative;
  top: 0px;
  width: 27%;
  padding: 10px;
  background-color: var(--section-color);
  border: 1px solid white;
  border-radius: 5%;
  transition: all 0.2s ease-in-out;
}

section:hover {
  background-color: var(--section-hover-color);
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.6);
  color: var(--text-color-off);
  top: -4px;
}
section:hover ul li a {
  color: var(--text-color-off);
}
