#container {
  width: 100%;
  max-width: 1366px;
  min-width: 900px;
  height: 100%;
  max-height: 768px;
  margin: auto;
  border: 1px solid red;
}

.headerText {
  margin-left: 133px;
}

#banner {
  width: 1100px;
  height: 250px;
  background-color: grey;
  margin: 0 auto;
  overflow: hidden;
}

svg {
  fill: black;
}

svg:hover {
  fill: green;
}

#firstRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -15px;
  /* background-color: blue; */
}

#secondRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -16px;
  margin-left: -29px;
  /* background-color: purple; */
}

#thirdRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -15px;
  /* background-color: blue; */
}

#fourthRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -14px;
  margin-left: -29px;
  /* background-color: purple; */
}

#fifthRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -15px;
  /* background-color: blue; */
}

#sixthRow {
  display: flex;
  gap: 1px;
  width: 200%;
  margin-top: -14px;
  margin-left: -29px;
  /* background-color: purple; */
}

ul,
li {
  list-style-type: none;
  padding: 0px;
}

li > a {
  text-decoration: none;
}

main {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 20% 0 20%;
}

section {
  width: 27%;
  padding: 10px;
  background-color: gray;
  border: 1px solid rgb(41, 41, 41);
  border-radius: 5%;
}

section:hover {
  transform: scale(1.08);
}
