#container {
  width: 100%;
  max-width: 1366px;
  min-width: 900px;
  height: 100%;
  max-height: 768px;
  margin: auto;
  border: 1px solid red;
}

.headerText {
  margin-left: 133px;
}

#banner {
  width: 1100px;
  height: 250px;
  background-color: grey;
  margin: 0 auto;
  overflow: hidden;
}

/* .hexagonContainer {
    margin-top: 20px;
    margin-left: -16px;
    width: 0.75em;
    height: 0.87em;
    color: rgb(54, 54, 75);
    background-color: red;
}

.hexagon {
    position: relative;
    left: -0.079em;
    top: -0.2em;
} */

.hexagon2Top {
  width: 0;
  border-bottom: 30px solid rgb(54, 54, 75);
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hexagon2Mid {
  width: 104px;
  height: 60px;
  background-color: rgb(54, 54, 75);
}

.hexagon2Bot {
  width: 0;
  border-top: 30px solid rgb(54, 54, 75);
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hexagon2:hover {
}

#firstRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 103.6px;
  margin-left: 10px;
}

#secondRow {
  display: flex;
  flex-direction: row;
  font-size: 103.6px;
  margin-top: -11px;
  margin-left: -30px;
}

#thirdRow {
  display: flex;
  flex-direction: row;
  font-size: 103.6px;
  margin-top: -11px;
  margin-left: 9px;
}

#fourthRow {
  display: flex;
  flex-direction: row;
  font-size: 103.6px;
  margin-top: -11px;
  margin-left: -30px;
}

ul,
li {
  list-style-type: none;
  padding: 0px;
}

li > a {
  text-decoration: none;
}

main {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 20% 0 20%;
}

section {
  width: 27%;
  padding: 10px;
  background-color: gray;
  border: 1px solid rgb(41, 41, 41);
  border-radius: 5%;
}

section:hover {
  transform: scale(1.08);
}
